*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    background-color: #fff;
}

.conteiner{
    max-width: 100%;
    max-height: 10%;
    padding-left: 8%;
    padding-right: 8%;
    overflow: hidden;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}

.logo-ps4{
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}

.menu-hamburguesa{
    display: none;
    width: 25px;
    cursor: pointer;
}

.contenedor-nav{
    flex: 1;
    text-align: right;
}

.contenedor-nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

.contenedor-nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
    transition: .5s;
}

.contenedor-nav ul li a:hover{
    color: #ff53a2;
}

.row{
    max-width: 100%;
    max-height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.col-1{
    width: 40%;
    height: 100%;
    position: relative;
    margin-left: 50px;
}

.col-1 h2{
    font-size: 54px;
}

.col-1 h3{
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0 10px;
}

.col-1 p{
    font-size: 20px;
    color: #b7b7b7;
    font-weight: 100;
    margin: 30px 0;
}

button{
    width: 140px;
    border: 0;
    margin-top: 20px;
    padding: 12px 10px;
    outline: none;
    color:#fff;
    background: linear-gradient(to right, #fb5283, #ff3527);
    border-radius: 6px;
    cursor: pointer;
    transition: width .5s;
}

button img{
    width: 30px;
    display: none;
}

button:hover img{
    transition: .5s;
    display: block;
}

button:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col-1::after{
    content: '';
    width: 10px;
    height: 57%;
    background: linear-gradient(#ff469f, #ff6062);
    position: absolute;
    left: -40px;
    top: 8px;
}

.col-2{
    width: 60%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-2 .controller{
    width: 80%;
}

.color-box{
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#ff54a2, #ff575a);
    border-radius: 20px 0 0 20px;
    height: 90%;
    width: 80%;
    z-index: -1;
}

.add-btn{
    position: absolute;
    right: 20px;
    width: 90px;
    height: 90px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    z-index: 2;
}

.add-btn img{
    width: 35px;
    margin-bottom: 5px;
}



.social-link img{
    height: 13px;
    margin: 20px;
    cursor: pointer;
}

.social-link{
    max-width: 100%;
    max-height: 10%;
    text-align: center;
}

@media only screen and (max-width: 1024px){
    .add-btn{
        right: 5px;
    }
}

@media only screen and (max-width: 768px){
    .contenedor-nav ul{
        width: 100%;
        background:linear-gradient(#ff54a2, #ff575a);
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }

    .contenedor-nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .contenedor-nav ul li a{
        color:#fff ;
        margin-right: 20px;
    }

    .contenedor-nav ul li a:hover{
        color: #707070;
    }
    .menu-hamburguesa{
        display: block;
    }

    #menuList{
        overflow: hidden;
        transition: .5s;
    }

    .row{
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 100px;
    }

    .col-2{
        width: 100%;
        height: 50%;
    }

    .col-2 .controller{
        width: 80%;
    }

    .color-box{
        position: absolute;
        right: 0;
        top: 0;
        background: linear-gradient(#ff54a2, #ff575a);
        border-radius: 20px 0 0 20px;
        height: 90%;
        width: 80%;
        z-index: -1;
    }

    .add-btn{
        position: absolute;
        right: 20px;
        text-align: center;
        color: #fff;
        cursor: pointer;
        z-index: 2;
    }

    .col-1{
        margin-top: 30px;
        width: 65%;
        height: 50%;
    }

    .col-1 h2{
        font-size: 35px;
    }

    .col-2 h3{
        font-size: 15px;
    }

    .social-link{
        max-width: 100%;
        max-height: 10%;
        text-align: center;
        margin-top: 20px;
    }
}



@media only screen and (max-width: 480px){
    body{
        height: 90vh;
    }
    .row{
        margin-top: 50px;
    }
    .col-2 .controller{
        
        width: 80%;
    }

    .add-btn{
        right: 3px;
        width: 50px;
        height: 80px;
    }
    
    .add-btn img{
        width: 29px;
    }
}